HELP.md
target/
secret.yml
*.log
logs/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
